* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  --background_grey: #282828;
  --border-color: #303030 --background_black: rgba(0, 0, 0, 0);
  --accent: #ff6347;
}
body {
  background-color: #000000;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
h1 {
  font-family: 'Playfair Display';
  font-size: 30px;
  padding: 10px 0px;
  margin: 0px;
}
